.left-top-item-frame {
    background-image: linear-gradient(to right, #cad4df, #9face6);
    border-top-left-radius: var(--common-border-width);
    width: 100%;
    height: 100%;
}

.left-top-item-frame:hover {
    background: linear-gradient(to right, #cad4df, white);
    cursor: pointer;
}

.left-top-item-frame:hover .hover-message {
    visibility: visible;
    opacity: 1;
}

.left-item-frame {
    background: linear-gradient(to right, #cad4df, #9face6);
    width: 100%;
    height: 100%;
}

.left-item-frame:hover {
    background: linear-gradient(to right, #cad4df, white);
    cursor: pointer;
}

.left-item-frame:hover .hover-message {
    visibility: visible;
    opacity: 1;
}

.left-bottom-item-frame {
    background: linear-gradient(to right, #cad4df, #9face6);
    border-bottom-left-radius: var(--common-border-width);
    width: 100%;
    height: 100%;
}

.left-bottom-item-frame:hover {
    background: linear-gradient(to right, #cad4df, white);
    cursor: pointer;
}

.left-bottom-item-frame:hover .hover-message {
    visibility: visible;
    opacity: 1;
}

.hover-message {
    visibility: hidden;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    right: 120%;
    transform: translateX(-20%);
    transform: translateY(120%);
    opacity: 0;
    transition: opacity 0.3s;
}

.add-file-image {
    width: 100%;
    height: 100%;
}

.lyrics-image {
    width: 100%;
    height: 100%;
}

.reset-image {
    width: 100%;
    height: 100%;
}

.add-folder-image {
    width: 100%;
    height: 100%;
}


