@charset "UTF-8";

#book-container {
	position: relative;
	display: inline-block;
	border: 1px solid black;
	width: 100%;
}

#book-desc-container {
	position: absolute;
	border: 1px solid black;
	display: inline-block;
	word-wrap: break-word;
	width: 50%;
}

#book-rcd-container {
	border: 1px solid black;
	width: 100%;
	word-wrap: break-word;
	text-align: center;
}

#book-interaction-container {
	position: absolute;
	border: 1px solid black;
	width: 100%;
	word-wrap: break-word;
	text-align: center;
}

#book-request-control-container {
	border: 1px solid black;
}

#book-req-cnt {
	display: inline-block;
	width: 6%;
}

#book-req-cnt-inc-btn {
	
}

#book-req-cnt-dec-btn {
	
}

#book-total-price {
	text-align: center;
}

#cart {
	border: 1px solid black;
	display: inline-block;
}

#recommend {
	border: 1px solid black;
	display: inline-block;
}

#book-info-container {
	position: relative;
	border: 1px solid black;
}